@import "variables";

p {
  font-size: 17px;
  font-weight: 200;
}

h2 {
  text-align: center;
  margin-top: 16px;
  padding: 14px;
  color: $applications-title-color;
  border-bottom: solid 4px $color-secondary-alt;
}

hr {
  margin: 20px 0;
}

.application-container {
  position: relative;
  width: 100%;
  height: 125px;
  overflow: hidden;
  background: $color-primary;
  background-size: cover;
}

.application-overlay {
  background: rgba($color-primary, .62);
  height: 500px;
}

.application-content {
  padding-top: 25px;
  text-align: center;
  color: $color-white;
  width: 50%;
  margin-left: 25%;
}

.container-text {
  padding: 2%;
}

.row {
  padding-top: 15px;
}

.app {
  margin-bottom: 15px;
  box-shadow: 0 3px 4px $applications-app-shadow-color;
  padding: 10px;
  min-height: 175px;
  background-color: $color-white;
}

.search-container {
  width: 100%;
  position: relative;
  z-index: 1;
}

.search-apps {
  width: 100%;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: 4px;
  position: relative;
  z-index: 2;
}
// scss-lint:disable all
.selected-suggestion {
  background: $dropdown-hover-color !important;
}
// scss-lint:enable all

.suggestions {
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;

  li {
    background: $color-white;
    list-style: none;
    margin: 0;
    padding: 12px;
    transition: background .2s;
    text-transform: capitalize;

    &:hover {
      background: $dropdown-hover-color;
      cursor: pointer;
    }
  }
}

.hl {
  background: $applications-highlight-color;
}

.search-apps-container-icon {
  position: absolute;
  z-index: 2;
  right: 12px;
  bottom: 15px;
  color: $search-border-color;
  cursor: default;
}
